body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #fff1de;
  margin: 0;
  padding: 0;
}

header {
  background: #03A6A1;
  color: #FFE3BB;
  padding: 30px 0 20px 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

h1 {
  margin: 0 0 10px 0;
  font-size: 2.2rem;
}

p {
  margin: 0 0 20px 0;
  color: #FFE3BB;
}

main {
  max-width: 550px;
  background: #FFA673;
  margin: 40px auto 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.10);
  padding: 30px 32px 28px 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 18px;
}

a {
  display: block;
  text-decoration: none;
  background: #FFE3BB;
  color: #FF4F0F;
  padding: 16px 18px;
  border-radius: 7px;
  font-size: 1.08rem;
  transition: background 0.18s, color 0.18s;
  border: 1px solid #FFE3BB;
  font-weight: 500;
}

a:hover {
  background: #FF4F0F;
  color: #FFE3BB;
  border-color: #da4711;
}

.actividad-num {
  font-weight: bold;
  margin-right: 10px;
  color: #FFA673;
}

@media (max-width: 600px) {
  main {
    padding: 15px 6vw;
  }
}